.ContactPage--grid {
  width: 100%;
  justify-content: space-between;
}

.ContactPage--grid > * {
  width: 100%;
}

.ContactPage--grid > *:nth-child(1) {
  margin-right: 5rem;
}

.ContactPage--grid > * {
  width: 100%;
}

@media (min-width: 800px) {
  .ContactPage--grid {
    display: flex;
  }
}

.ContactPage--item {
  margin-top: 4rem;
}
