.TeamMember--Wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.TeamMember--Content {
  margin: 0 5rem 0 0;
  max-width: 45rem;
}

.TeamMember--Image {
  order: -1;
  width: 50%;
  margin-bottom: 4rem;
}

.TeamMember .Link {
  margin: 2.5rem 0 0 auto;
}

@media (min-width: 600px) {
  .TeamMember--Wrap {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .TeamMember--Image {
    width: 35%;
    margin-left: auto;
    order: 1;
    margin-bottom: 0;
  }
}
