.Home {
}

.Home--TheProblem {
  .BackgroundImage {
    background-position: right;
    top: -5rem;
    bottom: -5rem;
  }

  @media (max-width: 800px) {
    .BackgroundImage {
      position: relative;
      height: 300px;
      width: 100%;
      background-position: center;
      top: -5rem;
      bottom: 0;
    }

    .pull-left-skinny {
      margin: auto;
    }
  }
}

.Home--OurSolution {
  .MacBook {
    right: calc(52.5% + 1.5rem);
    left: -10%;

    @media (min-width: 1000px) {
      transform: translateY(15%);
    }

    @media (min-width: 1600px) {
      left: auto;
    }
  }

  @media (max-width: 800px) {
    .MacBook {
      position: relative;
      left: auto;
      right: auto;
      width: 90%;
      margin: auto;
      margin-bottom: -7rem;
    }

    .pull-right-skinny {
      margin: auto;
      text-align: left;
    }
  }
}

.Home--TrackRecord {
  @media (max-width: 800px) {
    .pull-left-skinny {
      margin: auto;
      text-align: left;
      text-align: center;
    }
  }
}
