@keyframes BgBrokenSystem {
  from {
    transform: translate(0, -0.5rem);
  }
}

.BgBrokenSystem {
  text-align: center;
}

.BgBrokenSystem svg {
  animation: BgBrokenSystem 1.5s ease-in-out alternate infinite;
  height: 100%;
  width: auto;
}

@keyframes Alert {
  from {
    opacity: 1;
    transform: translate(-0.5rem, 0.5rem);
  }
  to {
    /* opacity: 0.8; */
  }
}

.BgBrokenSystem svg #Alert {
  animation: Alert 1s ease-in-out alternate infinite;
}

@keyframes Alert-C {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

.BgBrokenSystem svg #Alert-C {
  animation: Alert-C 0.5s ease-in-out alternate infinite;
}

.BgBrokenSystem svg #Alert-C:nth-of-type(1) {
  animation-delay: 0s;
}
.BgBrokenSystem svg #Alert-C:nth-of-type(2) {
  animation-delay: 0.2s;
}
.BgBrokenSystem svg #Alert-C:nth-of-type(3) {
  animation-delay: 0.4s;
}
.BgBrokenSystem svg #Alert-C:nth-of-type(4) {
  animation-delay: 0.6s;
}
