.Header,
.Header--Fixed {
  position: absolute;
  background: none;
  width: 100%;
  padding: 6rem 0;
  z-index: 6;
  top: 0;
}

@supports (top: env(safe-area-inset-top)) {
  .Header,
  .Header--Fixed {
    top: env(safe-area-inset-top);
  }
}

.Header--Logo {
  max-height: 6rem;
}

.Header .container .full-nav .Link {
  text-decoration: none;
  color: white;
  margin-left: 2rem;
  pointer-events: all;
  padding: 10px 0;
}

.Header .container .full-nav .Link:hover {
  color: var(--primary);
}

@media screen and (max-width: 1000px) {
  .Header .container .full-nav {
    display: none;
  }
}

.Header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header--Fixed {
  position: fixed;
  pointer-events: none;
}

.Header--Fixed .MenuButton {
  pointer-events: all;
}

.Header--Fixed .container {
  justify-content: flex-end;
}

.hasChildren {
  cursor: pointer;
  position: relative;
}

.hasChildren .subMenu {
  position: absolute;
  margin: 0;
  top: 100%;
  right: -20%;
  background-color: #01172b;  
  opacity: 0;
  display: none;
  max-height: 0;
  transition: all ease-in-out 0.2s;
  padding: 1rem 1.5rem;
  place-content: center;
  border-radius: 0.5rem;
}

.hasChildren:hover .subMenu {
  opacity: 1;
  display: grid;
  max-height: 70rem;
}

.hasChildren .subMenu .Link {
  margin: 0px !important;
  padding: 0.5rem;
  border-top: 1px solid gray;
}

.hasChildren .subMenu .Link:nth-child(1) {
  border-top: 0px solid gray;
}

@media (max-width: 600px) {
  .Header,
  .Header--Fixed {
    padding: 2rem 0;
  }

  .Header--Logo {
    max-height: 4rem;
  }
}
