.Header {
  position: fixed;
  background: none;
  width: 100%;
  padding: 6rem 0;
  z-index: 6;
  top: 0;
}

@supports (top: env(safe-area-inset-top)) {
  .Header,
  .Header--Fixed {
    top: env(safe-area-inset-top);
  }
}

.Header .Link {
  margin-left: 3rem;
  text-decoration: none;
  color: white;
}

.Header .Link:hover {
  color: var(--primary);
}

.Header--Logo {
  max-height: 6rem;
}

.Header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header--Fixed {
  position: fixed;
}

.Header--Fixed .MenuButton {
  pointer-events: all;
}

.Header--Fixed .container {
  justify-content: flex-end;
}

@media (max-width: 600px) {
  .Header,
  .Header--Fixed {
    padding: 2rem 0;
  }

  .Header--Logo {
    max-height: 4rem;
  }
}
