.Menu {
  pointer-events: none;
  display: flex;
  z-index: 6;
  height: auto;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  justify-content: center;
  align-items: center;
}

/* .Menu-active {
  opacity: 1;
  pointer-events: all;
  transform: translate3d(0, 0, 0);
} */

.Menu .container {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@keyframes Menu--Link {
  from {
    transform: translate(-1rem, 1rem);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.Menu-active .Menu--Link {
  animation: Menu--Link 0.3s ease-out;
  animation-fill-mode: both;
}

.Menu--Link {
  font-size: 2.4rem;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 0;
  color: white;
  transform: translate(0, 0);
  transition: all 0.2s ease-out;
  padding-right: 3rem;
}

.Menu--Link:nth-of-type(2) {
  animation-delay: 0.1s;
}
.Menu--Link:nth-of-type(3) {
  animation-delay: 0.2s;
}
.Menu--Link:nth-of-type(4) {
  animation-delay: 0.3s;
}
.Menu--Link:nth-of-type(5) {
  animation-delay: 0.4s;
}
.Menu--Link:nth-of-type(6) {
  animation-delay: 0.5s;
}

.Menu--Link .Link--arrow {
  height: 0.7em;
  margin-top: 0.2em;
  margin-left: 0.3em;
  opacity: 0;
}

.Menu--Link:hover,
.Menu--Link:focus {
  color: var(--primary);
  transform: translate(0.5rem, 0);
}

.Menu--Link:hover .Link--arrow,
.Menu--Link:focus .Link--arrow {
  opacity: 1;
}
