.Popup--Wrap {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  padding: 6vw;
}

.Popup {
  border-radius: 16px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
  z-index: 1;
  background: white;
  position: relative;
  padding: 6vw;
}

.Popup--Overlay {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.Popup--CloseButton {
  position: absolute;
  top: 2.5rem;
  right: 3rem;
  z-index: 2;
  cursor: pointer;
  opacity: 0.9;
  color: inherit;
}
