.ScrollNav {
  position: fixed;
  right: 0;
  top: 50%;
  color: white;
  flex-direction: column;
  font-size: 1rem;
  align-items: stretch;
  transition: all 0.3s ease-in-out;
  opacity: 1;
  transform: translateY(-50%);
  z-index: 1;
  display: none;
  width: 100%;
  pointer-events: none;
}

.ScrollNav:not(.active) {
  opacity: 0;
  pointer-events: none;
}

.ScrollNav.invertColor {
  color: var(--primary);
}

.ScrollNav--Item {
  color: inherit;
  text-decoration: none;
  text-align: right;
  text-transform: uppercase;
  font-weight: 600;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  max-width: 14rem;
  margin-left: auto;
  pointer-events: all;
}

.ScrollNav--Item:after {
  color: inherit;
  text-decoration: none;
  text-align: right;
  text-transform: uppercase;
  font-weight: 600;
  opacity: 0.5;
}

.ScrollNav--Item + .ScrollNav--Item:before {
  content: '';
  border-right: 1px solid currentColor;
  height: 100%;
  position: absolute;
  right: 23px;
  bottom: 50%;
  opacity: 0.2;
}

.ScrollNav--Item:not(.active) .ScrollDot #glow,
.ScrollNav--Item:not(.active) .ScrollDot #outer-ring {
  opacity: 0;
}

.ScrollDot {
  flex-shrink: 0;
}

.ScrollNav--Item.active {
  opacity: 1;
}

.layer-none {
  z-index: 3;
}

/*
.layer-dark {
  z-index: 2;
}

.layer-light {
  z-index: 1;
} */

.ScrollNav ~ .section {
  /* padding-right: 10rem; */
}

@media (min-width: 1250px) {
  .ScrollNav {
    display: flex;
  }
  .ScrollNav ~ .section .container:not(.skinny, .skinnier),
  .ScrollNav ~ .section-wrap .container:not(.skinny, .skinnier) {
    padding-right: 15rem;
  }
}
